<div class="new container bg-light col-lg-12 col-md-12 col-sm-12 mt-5 p-5">
  <div class="d-flex justify-content-center display-5 fw-bold">
    <div class="mt-5">@shopper</div>
  </div>

  <div class="mt-4 text-muted d-flex justify-content-center">
    <p>Appear,dry there darkness they're seas,dry waters thing fly midst.</p>
  </div>

  <div class="photos d-flex row justify-content-center pt-5 g-3">
    <div class="col-lg-2">
      <img src="assets\images\square1.jpg" class="img1 w-100 h-100" />
    </div>
    <div class="col-lg-2">
      <img src="assets\images\square2.jpg" class="img2 w-100 h-100" />
    </div>
    <div class="col-lg-2">
      <img src="assets\images\square3.jpg" class="img3 w-100 h-100" />
    </div>
    <div class="col-lg-2">
      <img src="assets\images\square4.jpg" class="img4 w-100 h-100" />
    </div>
    <div class="col-lg-2">
      <img src="assets\images\square5.jpg" class="img5 w-100 h-100" />
    </div>
    <div class="col-lg-2">
      <img src="assets\images\square6.jpg" class="img6 w-100 h-100" />
    </div>

<div class="container d-flex d-none d-lg-block">
  <div class="row seven-cols pt-5 mt-4">
    <div class="col-md-1"><img src="assets\images\mango.svg" class="w-75 h-75 opacity-25" /></div>
    <div class="col-md-1"><img src="assets\images\zara.png" class="w-75 h-75 opacity-25" /></div>
    <div class="col-md-1"><img src="assets\images\reebok.png" class="w-75 h-75 opacity-25" /></div>
    <div class="col-md-1"><img src="assets\images\asos.png" class="w-75 h-75 opacity-25" /></div>
    <div class="col-md-1"><img src="assets\images\stradivarius.png" class="w-75 h-75 opacity-25" /></div>
    <div class="col-md-1"><img src="assets\images\adidas.png" class="w-75 h-75 opacity-25" /></div>
    <div class="col-md-1"><img src="assets\images\bershka.png" class="w-100 h-75 opacity-25" /></div>
  </div>
</div>
