<div class="container col-lg-12 mt-4">
  <div class="d-flex row justify-content-center">
    <div class="mydivouter" style="width: 20rem">
      <div
        class="d-flex justify-content-center btn-group mydivouter"
        role="group"
        aria-label="Basic example"
      >
        <button
          type="button "
          class="mybuttonoverlap btn btn-light rounded-circle"
        >
          <i class="bi bi-eye-fill"></i>
        </button>
      </div>

      <img
        src="assets\images\sandals.jpg"
        style="height: 25rem"
        class="card-img-top"
      />

      <p class="d-flex justify-content-between text-muted fs-6 mt-2">Shoes</p>
      <p class="my-0 text-black fs-6">Leather mid-heel Sandals</p>
      <p class="text-muted">$129.00</p>
    </div>

    <div class="mydivouter" style="width: 20rem">
      <div class="mydivouter d-grid gap-2 d-md-flex justify-content-end">
        <button
          type="button "
          class="mybuttonoverlap btn btn-light rounded-circle"
        >
          <i class="bi bi-eye-fill"></i>
        </button>
      </div>
      <img
        src="assets\images\floraldress.jpg"
        style="height: 25rem"
        class="card-img-top"
      />

      <p class="d-flex justify-content-between text-muted fs-6 mt-2">Dresses</p>
      <p class="my-0 text-black fs-6">Cotton floral print Dress</p>
      <p class="text-muted">$40.00</p>
    </div>

    <div class="mydivouter" style="width: 20rem">
      <div
        class="d-flex justify-content-center btn-group mydivouter"
        role="group"
        aria-label="Basic example"
      >
        <button
          type="button "
          class="mybuttonoverlap btn btn-light rounded-circle"
        >
          <i class="bi bi-eye-fill"></i>
        </button>
      </div>
      <img
        src="assets\images\sneackers.jpg"
        style="height: 25rem"
        class="card-img-top"
      />
      <p class="d-flex justify-content-between text-muted mt-2">Shoes</p>
      <p class="my-0 text-black fs-6">Leather Sneakers</p>
      <div class="d-flex flex-row">
        <p class="text-muted text-decoration-line-through">$115.00</p>
        <span class="px-2" style="color: red"> $85.00 </span>
      </div>
    </div>

    <div class="mydivouter" style="width: 20rem">
      <div
        class="d-flex justify-content-center btn-group mydivouter"
        role="group"
        aria-label="Basic example"
      >
        <button
          type="button "
          class="mybuttonoverlap btn btn-light rounded-circle"
        >
          <i class="bi bi-eye-fill"></i>
        </button>
      </div>
      <img
        src="assets\images\croptop.jpg"
        style="height: 25rem"
        class="card-img-top"
      />

      <p class="d-flex justify-content-between text-muted fs-6 mt-2">Tops</p>
      <p class="my-0 text-black fs-6">Cropped cotton Top</p>
      <p class="text-muted">$29.00</p>
    </div>
  </div>

  <div class="d-flex row mt-3 justify-content-center">
    <div class="mydivouter" style="width: 20rem">
      <div
        class="d-flex justify-content-center btn-group mydivouter"
        role="group"
        aria-label="Basic example"
      >
        <button
          type="button "
          class="mybuttonoverlap btn btn-light rounded-circle"
        >
          <i class="bi bi-eye-fill"></i>
        </button>
      </div>
      <img
        src="assets\images\midi.jpg"
        style="height: 25rem"
        class="card-img-top"
      />

      <p class="d-flex justify-content-between text-muted fs-6 mt-2">Dresses</p>
      <p class="my-0 text-black fs-6">Floral print midi Dress</p>
      <p class="text-muted">$50.00</p>
    </div>

    <div class="mydivouter" style="width: 20rem">
      <div
        class="d-flex justify-content-center btn-group mydivouter"
        role="group"
        aria-label="Basic example"
      >
        <button
          type="button "
          class="mybuttonoverlap btn btn-light rounded-circle"
        >
          <i class="bi bi-eye-fill"></i>
        </button>
      </div>
      <img
        src="assets\images\crossbag.jpg"
        style="height: 25rem"
        class="card-img-top"
      />

      <p class="d-flex justify-content-between text-muted fs-6 mt-2">Bags</p>
      <p class="my-0 text-black fs-6">Suede cross body Bag</p>
      <div class="d-flex flex-row">
        <p class="text-muted text-decoration-line-through">$79.00</p>
        <span class="px-2" style="color: red"> $49.00 </span>
      </div>
    </div>

    <div class="mydivouter" style="width: 20rem">
      <div
        class="d-flex justify-content-center btn-group mydivouter"
        role="group"
        aria-label="Basic example"
      >
        <button
          type="button "
          class="mybuttonoverlap btn btn-light rounded-circle"
        >
          <i class="bi bi-eye-fill"></i>
        </button>
      </div>
      <img
        src="assets\images\skirt.jpg"
        style="height: 25rem"
        class="card-img-top"
      />

      <p class="d-flex justify-content-between text-muted fs-6 mt-2">Skirts</p>
      <p class="my-0 text-black fs-6">Printed A-line Skirt</p>
      <p class="text-muted">$79.00</p>
    </div>

    <div class="mydivouter" style="width: 20rem">
      <div
        class="d-flex justify-content-center btn-group mydivouter"
        role="group"
        aria-label="Basic example"
      >
        <button
          type="button "
          class="mybuttonoverlap btn btn-light rounded-circle"
        >
          <i class="bi bi-eye-fill"></i>
        </button>
      </div>
      <img
        src="assets\images\heel.jpg"
        style="height: 25rem"
        class="card-img-top"
      />

      <p class="d-flex justify-content-between text-muted fs-6 mt-2">Shoes</p>
      <p class="my-0 text-black fs-6">Heel strappy Sandals</p>
      <p class="text-muted">$90.00</p>
    </div>
  </div>
</div>
