<div
  class="container-fluid mt-3 col-xs-12 col-lg-12 col-12 col-md-12 col-sm-12 ps-0 pe-0"
>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 ps-0 pe-0">
      <img class="img-fluid" src="assets\images\women.jpg" alt="Card image" />
      <div class="caption d-none d-lg-block">
        <h1>Womens</h1>
      </div>

      <div class="d-none d-lg-block">
        <button type="submit" class="btn click1">
          Shop Womens <i class="ms-3 bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 ps-0 pe-0 ">
      <img class="img-fluid" src="assets\images\men.jpg" alt="Card image" />
      <div class="caption1 d-none d-lg-block">
        <h1>Mens</h1>
      </div>
      <div class="d-none d-lg-block">
        <button type="submit" class="btn click2">
          Shop Mens <i class="ms-3 bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 ps-0 pe-0">
      <img class="img-fluid" src="assets\images\kids.jpg" alt="Card image" />
      <div class="caption2 d-none d-lg-block">
        <h2>Kids</h2>
      </div>
      <div class="d-none d-lg-block">
        <button type="submit" class="btn click3">
          Shop Kids <i class="ms-3 bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
