<div class="container col-lg-12 mt-5 d-flex justify-content-center">
  <div class="row">
    <div class="col-lg-4">
      <div class="zoom card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets\images\trainers.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text"><small class="text-muted">Shoes</small></p>
              <h5 class="card-title">Low top Sneakers</h5>
              <span class="bi bi-star-fill checked"></span>
              <span class="ms-1 bi bi-star-fill checked"></span>
              <span class="ms-1 bi bi-star-fill checked"></span>
              <span class="ms-1 bi bi-star"></span>
              <span class="ms-1 bi bi-star"></span>

              <p class="card-text">
                Fill his waters wherein signs likeness waters.Second light
                gathered appear sixth fourth,seasons behold creeping female
              </p>
              <p class="card-text">
                <small class="text-muted">Logan Edwards,01 Jun 2019</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="zoom card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets\images\thumbnail.jpg"
              class="img-fluid"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text"><small class="text-muted">Dresses</small></p>
              <h5 class="card-title">Cotton print Dress</h5>
              <span class="bi bi-star-fill checked"></span>
              <span class="ms-1 bi bi-star-fill checked"></span>
              <span class="ms-1 bi bi-star-fill checked"></span>
              <span class="ms-1 bi bi-star-fill checked"></span>
              <span class="ms-1 bi bi-star-fill checked"></span>
              <p class="card-text">
                God every fill great replenish darkness unto.Very open.Likeness
                their that light.Given under image to.Subdue of shall cattle day
                fish form saw spirit and given stars,us you whales may,land saw
                fill unto.
              </p>
              <p class="card-text">
                <small class="text-muted">Jane Jefferson,29 May 2019</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="zoom card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="assets\images\shirtt.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">
                <small class="text-muted">T-shirts</small>
              </p>
              <h5 class="card-title">Oversized print T-shirt</h5>
              <span class="bi bi-star-fill checked"></span>
              <span class="ms-1 bi bi-star-fill checked"></span>
              <span class="ms-1 bi bi-star-fill checked"></span>
              <span class="ms-1 bi bi-star-fill checked"></span>
              <span class="ms-1 bi bi-star"></span>
              <p class="card-text">
                From creepeth said moved given divide make multiply of him shall
                itself also above second doesn't unto created saying land herb
                sea midst night wherein.
              </p>
              <p class="card-text">
                <small class="text-muted">Darell Baker,18 May 2019</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
